* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
div {
  text-align: center;
  font-size: 2rem;
  height: 100px;
  width: 100px;
}

#red {
  background-color: red;
  transform: translate(150px, -100px);
  transform-origin: left top;
  transition: transform 0.5s ease-in-out 50ms;
}
#yellow {
  background-color: yellow;
  transform: translateX(50px);
  transform-origin: left bottom;
  transition: transform 0.5s ease-in 50ms;
  z-index: 1;
}
#blue {
  background-color: blue;
  transform: translateX(-50px);
  transform-origin: right bottom;
  transition: transform 0.5s ease-in 50ms;
  z-index: 1;
}
#green {
  background-color: green;
  transform: translate(-150px, -100px);
  transform-origin: right top;
  transition: transform 0.5s ease-in 50ms;
}

#text:hover {
  transform: scale(10);
}

section:hover #red {
  transform: translate(150px, -100px) rotate(90deg);
  transform-origin: left top;
  transition: transform 0.5s ease-in 50ms;
}

section:hover #yellow {
  transform: translateX(50px) rotate(-90deg);
  transform-origin: left bottom;
  transition: transform 0.5s ease-in 50ms;
}
section:hover #blue {
  transform: translateX(-50px) rotate(90deg);
  transform-origin: right bottom;
  transition: transform 0.5s ease-in 50ms;
}
section:hover #green {
  transform: translate(-150px, -100px) rotate(-90deg);
  transform-origin: right top;
  transition: transform 0.5s ease-in 50ms;
}
