@import url(./base.css);

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: 10rem 2rem 1fr 2rem;

  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}
header {
  grid-area: header;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / -1;
}

body > nav {
  grid-area: nav;
  grid-column: 1/-1;
}

main {
  grid-area: main;
  grid-column: 1/-1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
}

footer {
  grid-area: footer;
  grid-column: 1/-1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
header menu {
  margin-bottom: 1rem;
}

form {
  margin-top: 1rem;
}
button {
  height: 25px;
}

article {
  display: flex;
  flex-flow: column wrap;
  width: 14rem;
}
.description {
  height: 60px;
}

@media (min-width: 600px) {
  body {
    grid-template-columns: 10rem repeat(auto-fill, minmax(150px, 1fr));

    grid-template-rows: 5rem 1fr 2rem;
    grid-template-areas:
      "header"
      "nav" "main"
      "footer";
  }

  header {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
  }

  body > nav menu {
    flex-flow: column wrap;
  }

  main {
    grid-column: 2 / -1;
    grid-row: 2;
    justify-content: space-evenly;
  }

  footer {
    justify-content: center;
    gap: 2rem;
  }
}
