@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(181, 232, 245);
  padding: 1rem;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto Mono", monospace;
}

menu {
  display: flex;
  justify-content: center;
}

menu.links {
  gap: 4rem;
}
menu.htmls {
  gap: 1.7rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-shadow: 1px 0px 2px rgba(179, 79, 212, 0.712);
}

menu li a {
  color: rebeccapurple;
  font-weight: bold;
  font-size: 1.1rem;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

article > header {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.3rem;
}

article {
  background-color: white;
  max-width: 320px;
  min-width: 270px;
  border-radius: 20px;
}

header > img {
  margin-top: 0.5rem;
  width: 100%;
  min-height: 160px;
  background-size: cover;
}
.presentacion {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 400px;
}

h1 {
  text-align: center;
  font-size: 2.3rem;
  padding: 2rem 0;
  font-family: "Permanent Marker", fantasy;
}
h2 {
  font-size: 1.8rem;
  margin: 0 auto 1rem;
  min-width: 270px;
  max-width: 1100px;
}

p {
  font-size: 1rem;
  margin: 1rem;
}

footer {
  margin-top: 2rem;
}

@media (min-width: 400px) {
  h1 {
    font-size: 2.7rem;
  }
  menu li a {
    font-size: 1.7rem;
  }
  article {
    max-width: 320px;
  }
}
