@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(181, 232, 245);
  padding: 1rem;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto Mono", monospace;
}

menu {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-shadow: 1px 0px 2px rgba(179, 79, 212, 0.712);
}

menu li a {
  color: rebeccapurple;
  font-weight: bold;
  font-size: 1.1rem;
}

section.pag {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  min-height: 90vh;
}

section.contacto {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

img {
  border-radius: 5000px;
  min-height: 250px;
  max-width: 250px;
  margin-top: 1.5rem;
  box-shadow: 2px 2px 2px rgba(179, 79, 212, 0.712);
}
.presentacion {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 400px;
}

h1 {
  text-align: center;
  font-size: 2.3rem;
  padding: 1rem 0;
  font-family: "Permanent Marker", fantasy;
}
h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

section.pag p {
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem;
}

section.contacto p {
  font-size: 1rem;
  min-width: 570px;
}

footer {
  margin-top: 2rem;
}

@media (min-width: 400px) {
  img {
    min-height: 370px;
    max-width: 370px;
  }
  h1 {
    font-size: 2.7rem;
  }
  menu li a {
    font-size: 1.7rem;
  }
}
