* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(89, 158, 218);
  color: white;
  text-align: center;
  padding: 1.5rem;
}

section h2 {
  margin: 2rem 2rem 0.5rem 2rem;
  color: rgb(89, 158, 218);
}

section ul li {
  margin: 0.5rem 4rem;
  list-style-type: circle;
  text-indent: 0.5rem;
  line-height: 1.5rem;
}
li.importante:first-child,
li.importante:nth-last-child(3) {
  font-weight: bold;
  text-decoration: underline;
}

table {
  margin: 0.1rem 3rem;
}

thead th {
  background-color: rgb(89, 158, 218, 1);
  color: white;
  padding: 0.9rem 1.4rem;
}

tbody tr:nth-child(odd) th {
  background-color: rgba(70, 140, 202, 0.5);
  padding: 1rem;
}

tbody tr:nth-child(even) th {
  background-color: rgba(70, 140, 202, 1);
  padding: 1rem;
}

tbody tr:nth-child(odd) td {
  background-color: rgb(197, 217, 235);
  padding: 1rem;
}
tbody tr:nth-child(even) td {
  background-color: rgb(148, 191, 230);
  padding: 1rem;
}

#descanso {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
