* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  /* grid-template-columns: minmax(150px,1fr) minmax(150px, 2fr); */
  grid-template-columns: repeat(autofit, minmax(150px, 1fr));
  grid-template-rows: 100px minmax(150px, 1fr) 0.2fr;
  align-items: stretch;
  grid-template-areas:
    "header header"
    "main main"
    "section aside";
  font-family: sans-serif;
}

header {
  grid-area: header;
  background-color: lightgray;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}

main {
  grid-area: main;
  padding: 0 0.5rem;
  background-color: rgb(238, 238, 238);
}

main > section {
  padding-bottom: 1.5rem;
}

.bottom {
  display: flex;
  grid-area: section;
  text-align: center;
  background-color: lightskyblue;
  flex-direction: column;
  justify-content: space-evenly;
}

aside {
  background-color: rgb(142, 114, 170);
  grid-area: aside;
  padding: 1rem;
  height: 100%;
}
p {
  padding: 0.5rem;
  font-size: 0.7rem;
}
aside > p {
  font-size: 1.3rem;
  padding-left: 1rem;
}
aside > h2 {
  padding-left: 1rem;
}

img {
  display: none;
}

@media (min-width: 1000px) {
  body {
    min-height: 100vh;
    grid-template-columns: minmax(150px, 3fr) 0.5fr;
    grid-template-rows: 100px minmax(50px, 6fr) minmax(50px, 1fr);
    grid-template-areas:
      "header header"
      "main aside"
      "section aside";
  }
  main {
    display: flex;
    flex-direction: row;
  }

  main > section {
    width: 100%;
    margin: 5rem 2rem;
  }

  section > p {
    font-size: 1rem;
  }

  .bottom {
    flex-direction: row;
    justify-content: center;
  }

  img {
    display: block;
    height: 230px;
    width: 230px;
    text-align: center;
    margin: 0 auto;
    border-radius: 300px;
    box-shadow: 0 3px 4px black;
  }

  aside > h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
  }

  aside > p {
    font-size: 1.5rem;
  }
}
