* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/hamburguesa.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Courier New", Courier, monospace;
  color: rgb(20, 20, 124);
}

main {
  padding: 2rem;
}

form {
  min-height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
fieldset:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

fieldset {
  border: none;
  text-align: center;
  min-width: 450px;
}

fieldset:nth-child(3) legend {
  padding: 0.5rem 0rem 1.5rem;
}

legend:not(.categoria) {
  font-size: 1.8rem;
  padding: 2rem 0rem 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.categoria {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

input,
textarea {
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  line-height: 2rem;
}

select {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: rgb(20, 20, 124);
  font-weight: bold;
}

label {
  margin: 1rem 0rem 0.5rem 0rem;
  font-size: 1.3rem;
}

.categoria,
label,
input {
  font-style: italic;
}

form > input {
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 0.3rem 1.3rem;
  background-color: rgb(20, 20, 124);
  color: white;
}
